# Ignore Finder metadata files
.DS_Store
._*
# Ignore Brew bundle files
.Brewfile.lock.json
# Ignore CI build directory
/*_build_temp
/*_build_temp/*
# Ignore artifact output directory
/macos*
/macos*/*
/linux*
/linux*/*
/windows*
/windows*/*
